{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}

    <script>
        var AppParameters = {
            locale: '{{ app.request.locale }}',
            locales: '{{ supported_locales }}'.split('|'),
            isAuthenticated: {{ app.user ? 'true' : 'false' }},
            user: {
                id: {{ app.user ? app.user.id : 'null' }},
                isAdmin: {{ app.user and app.user.isAdmin ? 'true' : 'false' }},
                email: '{{ app.user and app.user.email ? app.user.email : '' }}',
                phone: '{{ app.user and app.user.phone ? app.user.phone : '' }}',
                partner: {
                    id: {{ app.user and app.user.partner ? app.user.partner.id : 'null' }},
                    district: {
                        id: {{ app.user and app.user.partner and app.user.partner.district ? app.user.partner.district.id : 'null' }},
                    }
                }
            }

        };

        var AppRouter = {
            GET: {
                districts: '{{ path('api_v2_geo_districts_gets') }}',
                district: '{{ path('api_v2_partners_get', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
                cities: '{{ path('api_v2_geo_cities_gets') }}',
                regions: '{{ path('api_v2_geo_regions_gets') }}',
                countries: '{{ path('api_v2_geo_countries_gets') }}',
                partners: '{{ path('api_v2_partners_gets') }}',
                partner: '{{ path('api_v2_partners_get', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
                categories: '{{ path('api_v2_categories_gets') }}',
                partnerCategories: '{{ path('api_v2_partner_categories_gets') }}',
                category: '{{ path('api_v2_categories_get', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
                partnerCategory: '{{ path('api_v2_partner_categories_get', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
            },
            POST: {
                media: '{{ path('api_v2_media_post') }}',
                partner: '{{ path('api_v2_partners_post') }}',
                login: '{{ path('api_v2_login_post') }}',
                category: '{{ path('api_v2_categories_post') }}',
            },
            PUT: {
                partner: '{{ path('api_v2_partners_put', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
                category: '{{ path('api_v2_categories_put', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
                partnerCategory: '{{ path('api_v2_partner_categories_put', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
            },
            DELETE: {
                category: '{{ path('api_v2_categories_delete', {
                    'id': 999
                }) }}'.replace('999', '__ID__'),
            }
        }
    </script>

    <script src="/js/dist/app.js"></script>
{% endblock %}
